In [1]:
import pandas as pd
index=pd.date_range('1/1/2021',periods=8)

import numpy as np
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
df['D']=df['A']/df['B']
df

                   A         B         C          D
2021-01-01  0.131640  0.009379  0.511558  14.036009
2021-01-02  0.815448  0.962608  0.252161   0.847124
2021-01-03  0.767217  0.689904  0.990880   1.112062
2021-01-04  0.146708  0.271825  0.475336   0.539717
2021-01-05  0.677709  0.504705  0.387480   1.342782
2021-01-06  0.376068  0.265690  0.624257   1.415438
2021-01-07  0.652108  0.073950  0.571333   8.818254
2021-01-08  0.961569  0.242956  0.433718   3.957793

In [7]:
df['E']=np.sum(df,axis=1) #행우선 계산 A열~D열까지 더해서 E열에 저장
df.head() #5행만 출력

                   A         B         C          D          E
2021-01-01  0.131640  0.009379  0.511558  14.036009  73.442930
2021-01-02  0.815448  0.962608  0.252161   0.847124  14.386701
2021-01-03  0.767217  0.689904  0.990880   1.112062  17.800317
2021-01-04  0.146708  0.271825  0.475336   0.539717   7.167931
2021-01-05  0.677709  0.504705  0.387480   1.342782  14.563379

In [4]:
df

                   A         B         C          D          E
2021-01-01  0.131640  0.009379  0.511558  14.036009  29.377172
2021-01-02  0.815448  0.962608  0.252161   0.847124   5.754680
2021-01-03  0.767217  0.689904  0.990880   1.112062   7.120127
2021-01-04  0.146708  0.271825  0.475336   0.539717   2.867173
2021-01-05  0.677709  0.504705  0.387480   1.342782   5.825352
2021-01-06  0.376068  0.265690  0.624257   1.415438   5.362905
2021-01-07  0.652108  0.073950  0.571333   8.818254  20.231289
2021-01-08  0.961569  0.242956  0.433718   3.957793  11.192071