In [4]:
import pandas as pd
index=pd.date_range('1/1/2021',periods=8)

import numpy as np
df=pd.DataFrame(np.random.rand(8,3),index=index,columns=list('ABC'))
df['D']=df['A']/df['B']
df['E']=np.sum(df,axis=1)
df

                   A         B         C          D          E
2021-01-01  0.242611  0.760017  0.255625   0.319217   1.577470
2021-01-02  0.109953  0.784212  0.921419   0.140209   1.955793
2021-01-03  0.539091  0.387433  0.046367   1.391443   2.364333
2021-01-04  0.964647  0.086506  0.822215  11.151161  13.024529
2021-01-05  0.947880  0.912464  0.463324   1.038813   3.362481
2021-01-06  0.736308  0.493854  0.941790   1.490943   3.662895
2021-01-07  0.344010  0.899142  0.779592   0.382598   2.405342
2021-01-08  0.188577  0.169746  0.097775   1.110932   1.567030

In [5]:
df=df.sub(df['A'],axis=0)#모든 열에서 A열의 값을 뺀 값이 저장
df

              A         B         C          D          E
2021-01-01  0.0  0.517406  0.013014   0.076607   1.334859
2021-01-02  0.0  0.674259  0.811466   0.030255   1.845840
2021-01-03  0.0 -0.151658 -0.492724   0.852353   1.825243
2021-01-04  0.0 -0.878140 -0.142432  10.186514  12.059882
2021-01-05  0.0 -0.035416 -0.484556   0.090933   2.414601
2021-01-06  0.0 -0.242454  0.205483   0.754635   2.926587
2021-01-07  0.0  0.555132  0.435582   0.038588   2.061332
2021-01-08  0.0 -0.018830 -0.090802   0.922356   1.378453

In [7]:
df=df.div(df['C'],axis=0) #C열의 데이터를 기준으로 열 우선 계산
df.to_csv('test.csv') #데이터 프레임을 test.csv파일로 저장
df.head()

              A          B    C          D           E
2021-01-01  0.0  39.757307  1.0   5.886446  102.570104
2021-01-02  0.0   0.830915  1.0   0.037285    2.274699
2021-01-03 -0.0   0.307795  1.0  -1.729879   -3.704392
2021-01-04 -0.0   6.165324  1.0 -71.518361  -84.671063
2021-01-05 -0.0   0.073089  1.0  -0.187663   -4.983123